---
import Link from "../components/Link.astro";
import Main from "../layouts/main.astro";
import { Pages, pageMap } from "../pages";
---

<Main active={pageMap[Pages.About].title}>
  <div class="mt-10">
    <h1 class="text-4xl font-bold">
      About
    </h1>
    <p class="text-xl font-semibold dark:text-slate-300 text-slate-500 mt-10">
      I'm a fullstack web developer from the UK, currently working at <Link href="https://www.contentguru.com/en-gb/">Content Guru</Link>. 
      I am crazy about all things web, and when I'm not working, you'll often find me glued to my Twitter feed keeping up to date with all the latest tech news.
    </p>
    <p class="text-xl font-semibold dark:text-slate-300 text-slate-500 mt-10">
      I am a huge advocate for TypeScript in all projects I am involved in, and it is my primary language of choice. 
      I have a lot of experience with React for front-end development, but I'm interested in bridging that gap with excellent new frameworks like NextJS that bring us closer to the holy grail of SSR and SSG.
      In my new personal projects, I've been working with the <Link href="https://create.t3.gg/">T3 Stack</Link>.
      In the past I have done significant work with PHP, namely Laravel and MySQL.
    </p>
    <p class="text-xl font-semibold dark:text-slate-300 text-slate-500 mt-10">
      Outside of tech, I'm an avid bird watcher - nature reserves and wetlands are my second home!
    </p>
    <p class="text-xl font-semibold dark:text-slate-300 text-slate-500 mt-10">
      I built this site using the excellent <Link href="https://astro.build/">Astro</Link> framework.
    </p>
  </div>
</Main>