---
import List from "../components/List.astro";
import ListItem from "../components/ListItem.astro";
import Main from "../layouts/main.astro";
import { Pages, pageMap } from "../pages";
import projects from "../projects";
---

<Main active={pageMap[Pages.PROJECTS].title}>
  <div class="flex flex-col mt-10 w-full gap-8">
    <h1 class="text-4xl font-bold">Projects</h1>
    <nav class="w-full">
      <List>
        {
          projects.map((project) => (
            <ListItem
              href={project.href}
              title={project.title}
              description={project.description}
            />
          ))
        }
      </List>
    </nav>
  </div>
</Main>
