---
import type { BlogLink } from "../blogs";
import Link from "../components/Link.astro";
import { Pages, pageMap } from "../pages";
import Main from "./main.astro";

interface Props {
  blog: BlogLink;
}

const { blog } = Astro.props;
---

<Main active={pageMap[Pages.BLOG].title}>
  <div class="mt-10">
    <Link href={pageMap[Pages.BLOG].path}>&larr; Back to blogs</Link>
  </div>
  <article class="prose dark:prose-invert mt-10">
    <h1>
      { blog.title }
    </h1>
    <slot />
  </article>
</Main>
